.lightPinkBG{
    background-color: #FDD7D2;
}

/* Fonts */
.menuText{
    font-family: 'Stardos Stencil';
}

.headerDesc,
.menuCategories,
.iconText,
.milkSubs,
.items-style,
.items-desc{
    font-family: 'Bitter';
}

/* Hero Image and Header */
.menuHero{
   background-image: url(../assets/menu_component.png);
   background-repeat: no-repeat;
   background-size: 100% 100%;
}

.menuHeader{
    margin-top: 570px;
    margin-bottom: 120px;
}

.menuText{
    font-size: 70px;
    background-color: #FBF6C7;
    border-radius: 20px;
    padding: 10px;
    font-weight: 700;
}

.headerDesc {
    font-size: 25px;
    font-weight: 700;
    margin-top: 25px;
    color: white;
}

/* sticky side-bar */

#sidebar {
    height: 600px;
    margin: 20px 0px;
}

#content-area {
    height: auto;
}

.sticky-sidebar{
    position: sticky;
    width: 100%;
    top: 40px;
    /* top and the topSpace in JS have to be the same */
}

.bottom-fixed-sidebar{
    width: calc(100% - 30px);
    position: absolute;
    bottom: 0px;
}

.menuCategories,
.items-style{
    font-size: 30px;
    font-weight: bold;
}

.iconText{
    font-size: 35px;
    font-weight: 700;
}

.milkSubs{
    font-size: 25px;
    font-weight: 600;
}

/* Menu Items */

.horizontalLine {  
    border: none; 
    border-bottom: 3px dotted gainsboro;  
}

.topLine{
    border: none; 
    border-top: 3px dotted gainsboro;  
}

hr{
    border-top: 2px dotted;
    opacity: .3;
}

p.items-desc {
    margin-bottom: 5px;
}

h2.items-style{
    margin-bottom: 5px;
    margin-top: 10px;
}

.space{
    color: white;
}

.whiteBG{
    background-color: white;
    border-radius: 8px;
}

.purpleBorder{
    border: 24px solid #D3BEEF;
    border-radius: 20px;
}

.blueBorder{
    border: 24px solid #9FC6E9;
    border-radius: 20px;
}

.redBorder {
    border: 24px solid #DD9292;
    border-radius: 20px;
}

.items-desc{
    font-size: 25px;
    font-weight: 400;
    line-height: 1.7rem;
}

.col-7{
    width: 62%;
}
