.jcenter{
    display:flex; justify-content: center;
}

.jCenterText{
    text-align: center;
}

jfont1{
    font-family: 'Stardos Stencil'
}

jfont2{
    font-family: 'Bitter'
}

.jLink{
    text-decoration: none;
}

.jLink:hover{
    color: #FF9C8E;
}

