.jcenter{
    display:flex; justify-content: center;
}

.jCenterText{
    text-align: center;
}

.jfont1{
    font-family: 'Stardos Stencil'
}

.jfont2{
    font-family: 'Bitter'
}

.jLink{
    text-decoration: none;
    color: #7F7CFF;
}

.jLink:hover{
    color: #FF9C8E;
}

.line-style{
    /* style="color: black; border-bottom: solid 3px black ; margin-top: 0px;" */
    border: solid;
    color: black !important;
    opacity: 1;
    border-width: 1px;
    /* top: 30px; */
    /* height: 2px; */
    /* padding-right: 100px; */
    /* display: inline-block; */
    /* border-bottom: 2px solid black; */
}